body {
  color: #40514E
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-top: 50px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #40514E 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto;
}

.intro {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hello {
  margin-top: 0;
  padding: 50px 0 10px 0;
}

.my-about {
  /* font-size: 12px; */
  margin: auto;
  padding-bottom: 50px;
  width: 50%;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.main-b {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-container {
  background-color: #C6FCF4;
  position: relative;
  padding-top: 100px;
}

.profile {
  background-color: #C6FCF4;
}

.middle-container {
  background-color: #C6FCF4;
  padding-bottom: 50px;
}

.skills {
  background-color: #C6FCF4;
  padding: 20px 0 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 50px auto;
  text-align: left;
}

.contact-me {
  background-color: #C6FCF4;
  padding-bottom: 50px;
}

.get-in-touch {
  margin: 0;
  padding: 50px 0 20px 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  margin: 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px 0 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  padding-top: 0;
  left: 100px;
  top: 20px;
}

.programming-img {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
  float: left;
  margin-right: 30px;
}

.data-science {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
  float: right;
  margin-left: 30px;
}

.web-dev {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  padding: 20px 0 40px;
  float: left;
  margin-right: 30px;
}

.crypto {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  margin-left: 30px;
}

.portfolio {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
